


.outter {
  border: thin solid black;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.playerContainer {
  border: thin solid black;
  display: grid;
  grid-template-rows: 39% 32% 29%;
}

.info {
  border: thin solid black;
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.todos {
  border: thin solid black;
}

.taskContainer {
  margin-top: 8%;
  display: grid;
  grid-template-rows:60% 60% 20%;
}

#task1 {
  width: 75%;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
  margin: 0 auto;
}

#by1 {
  width: 75%;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
  margin: 0 auto;
}

#task2 {
  width: 75%;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
  margin: 0 auto;
}

#by2 {
  width: 75%;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
  margin: 0 auto;
}

.acceptTask {
  width: 28%;
  margin: 0 auto;
}

.label {
  display: flex;
  text-align: center;
  justify-items: center;
  flex-direction: column;
}

.playerInput {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.player1Picks {
  width: 10%;
  padding: 5%;
  padding-right: 1%;
  font-size: 3vh;
}

.player2Picks {
  width: 10%;
  padding: 5%;
  padding-right: 1%;
  font-size: 3vh;
}

/*//////////////////////////////
// MAIN CONTAINER /////////// */

.container {
  border: thin solid black;
  display: grid;
  grid-template-rows: 20% 10% 60% 10%;
}

#headContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header {
  border: thin solid black;
  text-align: center;
  margin: 0;
}
/*  */
.bar {
  border: thin solid black;
}
/*  */
.gameBox {
  border: thin solid black;
  display: grid;
  grid-template-rows: 15% 75% 10%;
}

.scoreBar {
  border: thin solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  font-size: 10vh;
  color: red;
}

#scoreKeeper1 {
  display: block;
  letter-spacing: .1rem;
}

#scoreKeeper2 {
  display: block;
  letter-spacing: .1rem;
}

#score1 {
  color: 'red';
}

#score2 {
  color: 'red';
}

#scoreLogo {
  font-size: 5vh;
  color: black;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25vh;
}

.gameButton {
  border-top: thin solid black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#gameButton {
  display: none;
}

/*  */
.back {
  border: thin solid black;
}
